.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */

.text-center {
    text-align: center;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.btn-secondary {
    background-color: #fff;
    color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}

.description {
    font-size: 18px;
    color: #757575;

}

/* header background */

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav things */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 62px;
    font-weight: 700;
    margin-right: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

/* banner things */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 200px;
}


.banner-greetings {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-profile-picture {
    width: 584px;
    height: 676px;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about {
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;

}

.description {
    font-size: 20px;
    color: #757575;
    margin-bottom: 30px;
}

.about-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.item-title {
    font-size: 20px;

    color: #757575;


}

.item-description {
    font-size: 20px;
    font-weight: bold;
    color: #474747;

}

/* skills */
.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.skill {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.403);
}


.skill-title {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;

}

.skill-description {
    font-size: 16px;
    color: #757575;

}

/* resume section */
.resume-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.resume-column {
    flex: 1;

    border-radius: 10px;


}

.resumecolumn-title {
    font-size: 24px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.experience {
    margin-bottom: 20px;
}

.experience-title {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}

.experience-sub-title {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.experience-description {
    font-size: 16px;
    color: #757575;
}

.resume-button {
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}